*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
body{
    background-color: rgb(136, 123, 52) ;
    color:white;
    min-height: 100vh;
    
}
header {
    font-size: 20px;
}
header , form {
    min-height: 20vh;
    display:flex;
    justify-content: center;
    align-items: center;
}
form input , form button{
    padding:5px;
    font-size: 20px;
    border : none;
    background:white;
}
form button{
    color:lightpink;
    background:white;
    cursor:pointer;
    transition: all 0.3 ease;
}
form button:hover{
    background:lightpink;
   color:white;
}
/*later*/
.todo-list{
    min-width: 30%;
    list-style:none;
}
.todo{
    margin: 10px;
    background:white;
    color:black;
    font-size:15px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.todo li {
    flex:1;

}
.trash-btn , .complete-btn{
    background:rgb(238, 81, 105);
    color:white;
    border:none;

    padding:4px;
    cursor: pointer;
    font-size: 15px;
}
.complete-btn{
    background-color: green;
}
.todo-item {
    padding:0px 3px;
}
.fa-trash , .fa-check-circle{
    pointer-events: none;
}